<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лобок_О_В_Frontend</title>

    <link rel="stylesheet" href="/styles/styleMain.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.95">

    <!-- icons boxicons.com-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <!-- header content-->
    <header class="header">
        <a href="#" class="logo">Олексій. <span class="animate" style="--i:1;"></span></a>

        <!-- Language toggle-->
        <div class="lang">

            <a href="https://oleksii-portfolio.up.railway.app/main/" class="toggle-text"><img src="./images/eng.png"
                    alt=""></a>
        </div>
        <div class="bx bx-menu" id="menu-icon"><span class="animate" style="--i:1;"></span></div>

        <nav class="navbar">
            <a href="#home" class="active">Головна</a>
            <a href="#about">Про Мене</a>
            <a href="#education">Освіта</a>
            <a href="#portfolio">Портфоліо</a>
            <a href="#contact">Написати</a>
            <a href="https://oleksii-portfolio.up.railway.app/login">
                <span class="material-symbols-outlined">
                    login
                </span>
            </a>
            <span class="active-nav"></span>
            <span class="animate" style="--i:2;"></span>
        </nav>
    </header>

    <!-- home info-->
    <section class="home show-animate" id="home">
        <div class="home-content">
            <h1>Привіт, Мене звати <span>Олексій Лобок</span><span class="animate" style="--i:3"></span></h1>
            <div class="text-animate">
                <h3>Frontend Розробник</h3>
                <span class="animate" style="--i:3;"> </span>
            </div>
            <p>Присвячую час на створення цікавих та зручних веб-додатків.
                Маючи "гостре око" на дизайн і захоплення програмуванням, я прагну поєднувати креативність із технічною
                майстерністю.
                Моя подорож у фронтенд-розробці мотивована бажанням інновацій та значущого внеску у цифровий простір.
                Давайте створювати красиві та впливові веб-рішення разом!
                <span class="animate" style="--i:4"> </span>
            </p>

            <div class="btn-box">
                <a href="#contact" class="btn">Найняти</a>
                <a href="https://t.me/Aleksey1215" class="btn">Поговоримо?</a>
                <span class="animate" style="--i:5;">
            </div>
        </div>

        <div class="home-sci">
            <a href="https://www.facebook.com/profile.php?id=100023668789905">
                <i class='bx bxl-facebook'></i>
            </a>
            <a
                href="https://www.linkedin.com/in/%D0%BE%D0%BB%D0%B5%D0%BA%D1%81i%D0%B9-%D0%BB%D0%BE%D0%B1%D0%BE%D0%BA-b45b00259/">
                <i class='bx bxl-linkedin'></i>
            </a>
            <a href="https://t.me/Aleksey1215">
                <i class='bx bxl-telegram'></i>
            </a>
            <span class="animate" style="--i:6;"></span>
        </div>

        <div class="home-imgHover"></div>
        <span class="animate home-img" style="--i:7;"></span>
    </section>

    <!--about section-->
    <section class="about" id="about">
        <h2 class="heading">Про <span>Мене</span><span class="animate scroll" style="--i:1;"></span></h2>

        <div class="about-img">
            <img src="./images/sec2.png" alt="">
            <span class="circle-spin"></span>
            <span class="animate scroll" style="--i:2;"></span>
        </div>

        <div class="about-content">
            <h3>Frontend Розробник!<span class="animate scroll" style="--i:3;"></span></h3>
            <p>Як початківець у фронтенд-розробці, я досліджую різні технології, щоб розширити свій набір навичок.
                Нещодавно почав занурюватися в бекенд-розробку, налаштовуючи сервери з MongoDB та Node.js. Паралельно з
                цим я продовжую вдосконалювати свої навички в HTML, CSS і JavaScript, а також знайомлюся з такими
                фреймворками, як React. Я захоплений створенням привабливих інтерфейсів користувача і з нетерпінням
                чекаю на подальше розширення своїх знань як у фронтенд-, так і в бекенд-розробці.<span
                    class="animate scroll" style="--i:4;"></span>
            </p>
            <div class="btn-box btns resume">
                <a href="https://drive.google.com/file/d/1sZEM1smyd2UTt8GcKwrDED-ho8sV3alh/view?usp=sharing"
                    class="btn">PDF Резюме</a>
                <span class="animate scroll" style="--i:5;"></span>
            </div>
        </div>
    </section>
    <!--education section-->
    <section class="education" id="education">
        <h2 class="heading">Моя <span>Подорож </span><span class="animate scroll" style="--i:1;"></span></h2>

        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Освіта</h3>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar'></i>2012-2015</div>
                            <h3>Національній Університет Харчових Технологій, Київ -
                                Бакалавр
                            </h3>
                            <p>Факультет - Електротехніка та електротехнології </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar'></i>2008-2012</div>
                            <h3>Київський Енергетичний Коледж</h3>
                            <p>
                                Отримав освіту молодшого спеціаліста </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar'></i>2000-2008</div>
                            <h3>Перші кроки - школа:)</h3>
                            <p>Отримав базову середню освіту в школі № 207 з поглибленим вивченням англійської мови </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="education-column">
                <h3 class="title">Навички</h3>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar'></i>2024</div>
                            <h3>
                                Frontend розробник</h3>
                            <p>Роблю все можливе щоб отримати більше досвіду у цьому напрямку. </p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar'></i>2018-2023</div>
                            <h3>
                                Арбітраж трафіку.</h3>
                            <p>Займався арбітражем інтернет-трафіку на позиції Media Buyer, робив усе необхідне для
                                успішного запуску рекламної кампанії.</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bx-calendar'></i>2012-2018</div>
                            <h3> Технічний центр підтримки Київської філії ПАТ "Укртелеком".</h3>
                            <p>Обслуговував станції системи передачі. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- portfolio section -->
    <section class="portfolio" id="portfolio">
        <!-- description section -->
        <div class="container_description">
            <div class="box-description">
                <span style="--i:11; "> Саме ваш проект може бути на цьому місці, просто треба мене найняти.</span>
                <span style="--i:12; "> Це мій перший проект веб-гри. Він демонструє мої навички в HTML, CSS та
                    JavaScript, з акцентом на маніпуляцію DOM для забезпечення інтерактивного користувацького
                    інтерфейсу.</span>
                <span style="--i:13; "> Це мій другий проект, який демонструє мій розвиток у веб-розробці. Він показує
                    мої навички в HTML, CSS та JavaScript, з акцентом на зручні анімації та адаптивний дизайн.</span>
                <span style="--i:14; "> Це мій третій проект, створений з використанням React, який демонструє зручний
                    інтерфейс з інтерактивними компонентами та адаптивним дизайном. Він підкреслює мої навички у
                    веб-розробці та мій акцент на створенні динамічних веб-сайтів.</span>
                <span style="--i:15; "> Проект FullStack :) Це веб-сайт-портфоліо, створений з бекендом на Node.js і
                    підключенням до MongoDB. Він має адмін-панель, яка дозволяє власнику додавати продукти, описи та
                    ціни. Також була реалізована авторизація.</span>
                <span style="--i:16; ">Цей слайд чекає на оновлення.</span>
            </div>

        </div>
        <div class="container">
            <div class="box">
                <span style="--i:11; "> <a href="https://zhuyka1993.github.io/food/">
                        <img src="/images/quest.png" alt="Описание картинки">
                    </a> </span>
                <span style="--i:12; "><a href="https://zhuyka1993.github.io/Final_game/">
                        <img src="./images/game.png" alt="Описание картинки">
                    </a></span>
                <span style="--i:13; "> <a href="https://zhuyka1993.github.io/food/">
                        <img src="./images/food.png" alt="Описание картинки">
                    </a> </span>
                <span style="--i:14; "><a href="https://zhuyka1993.github.io/gym_react/">
                        <img src="./images/gym.png" alt="Описание картинки">
                    </a> </span>
                <span style="--i:15; "> <a href="https://luxury-coffee.up.railway.app/">
                        <img src="./images/lux.png" alt="Описание картинки">
                    </a> </span>
                <span style="--i:16; "><a href="https://zhuyka1993.github.io/Final_game/">
                        <img src="./images/game.png" alt="Описание картинки">
                    </a> </span>
            </div>
            <div class="btn-portfolio-container">
                <div class="btn-portfolio prev"></div>
                <div class="btn-portfolio next"></div>
            </div>
        </div>
    </section>

    <!-- contact section -->
    <section class="contact" id="contact">
        <h2 class="heading">Напишіть <span> Мені! </span></h2>

        <form id="contactForm" action="#">
            <div class="input-box">
                <div class="input-field">
                    <input type="text" id="name" placeholder="Ваше ім'я" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" id="email" placeholder="Поштова Скринька" required>
                    <span class="focus"></span>
                </div>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="number" id="mobile" placeholder="Номер Телефону" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" id="subject" placeholder="Тема Вашого Листа" required>
                    <span class="focus"></span>
                </div>
            </div>

            <div class="textarea-field">
                <textarea id="message" cols="30" rows="10" placeholder="Ваше Повідомлення" required></textarea>
                <span class="focus"></span>
            </div>

            <div class="btn-box btns">
                <button type="submit" class="btn submitBtn">Відправити</button>
            </div>
        </form>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2024 by Oleksii. | All Rights Reserved.</p>
        </div>

        <div class="footer-iconTop">
            <a href="#"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>

    <script src="./js/script.js"></script>
    <script src="./js/sendData.js"></script>
    <script src="./js/readMail.js"></script>
</body>

</html>